<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.lease.web.app.mapper.RoomInfoMapper">


    <resultMap id="RoomItemVoMap" type="com.ls.lease.web.app.vo.room.RoomItemVo" autoMapping="true">
        <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.ls.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartment_id"/>

        </association>

        <collection property="graphVoList" ofType="com.ls.lease.web.app.vo.graph.GraphVo"
                    select="selectGraphListByRoomId" column="id"/>

        <collection property="labelInfoList" ofType="com.ls.lease.model.entity.LabelInfo"
                    select="selectLabelListByRoomId" column="id"/>

    </resultMap>
    <select id="pageItem" resultMap="RoomItemVoMap">
        select ri.id,
               ri.room_number,
               ri.rent,
               ai.id apartment_id,
               ai.name,
               ai.introduction,
               ai.district_id,
               ai.district_name,
               ai.city_id,
               ai.city_name,
               ai.province_id,
               ai.province_name,
               ai.address_detail,
               ai.latitude,
               ai.longitude,
               ai.phone,
               ai.is_release
        from room_info ri
                 left join apartment_info ai
                           on ri.apartment_id = ai.id and ai.is_deleted = 0
        <where>
            ri.is_deleted = 0
            and ri.is_release = 1
            and ri.id not in (select room_id
                                from lease_agreement
                                where is_deleted = 0
                                and status in (2, 5))
            <if test="queryVo.provinceId != null">
                and ai.province_id = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ai.city_id = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ai.district_id = #{queryVo.districtId}
            </if>
            <if test="queryVo.minRent != null and queryVo.maxRent != null">
                and (ri.rent &gt;= #{queryVo.minRent} and ri.rent &lt;= #{queryVo.maxRent})
            </if>
            <if test="queryVo.paymentTypeId != null">
                and ri.id in (
                select
                room_id
                from room_payment_type
                where is_deleted = 0
                and payment_type_id = #{queryVo.paymentTypeId}
                )
            </if>
        </where>
        <if test="queryVo.orderType == 'desc' or queryVo.orderType == 'asc'">
            order by ri.rent ${queryVo.orderType}
        </if>
    </select>

    <select id="selectGraphListByRoomId" resultType="com.ls.lease.web.app.vo.graph.GraphVo">
        select name,
               url
        from graph_info
        where is_deleted = 0
          and graph_info.item_id = #{id}
          and graph_info.item_type = 2
    </select>

    <select id="selectLabelListByRoomId" resultType="com.ls.lease.model.entity.LabelInfo">
        select id,
               type,
               name
        from label_info
        where is_deleted = 0
          and type = 2
          and id in (select label_id
                     from room_label
                     where is_deleted = 0
                       and room_id = #{id})


    </select>
</mapper>
