<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.lease.web.admin.mapper.GraphInfoMapper">

    <select id="selectListByItemAndId" resultType="com.ls.lease.web.admin.vo.graph.GraphVo">
        select name,
               url
        from graph_info
        where is_deleted = 0
          and item_id = #{id}
          and item_type = #{itemType}
    </select>
</mapper>
