<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ls.lease.web.admin.mapper.SystemUserMapper">

    <select id="selectSysUserpage" resultType="com.ls.lease.web.admin.vo.system.user.SystemUserItemVo">
        select u.id,
               u.username,
               u.name,
               u.type,
               u.phone,
               u.avatar_url,
               u.additional_info,
               u.post_id,
               u.status,
               p.name post_name

        from system_user u
                 left join system_post p
                           on u.post_id = p.id and p.is_deleted=0

        <where>
            u.is_deleted=0
            <if test="queryVo.name != null and queryVo.name != ''">
                and username like concat('%',#{queryVo.name},'%')
            </if>
            <if test="queryVo.phone != null and queryVo.phone != ''" >
                and phone like  concat('%',#{queryVo.phone},'%')
            </if>
        </where>

    </select>
    <select id="selectByUsername" resultType="com.ls.lease.model.entity.SystemUser">
        select id,
               username,
               password,
               name,
               type,
               phone,
               avatar_url,
               additional_info,
               post_id,
               status
        from system_user
        where username = #{username}
    </select>

</mapper>
